{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style1.css' %}">
<ul>
  <div>
    <h1>Resumé</h1>
      <p>Je m'appelle Boughzala Ayoub, je suis élève ingénieur en 3ème année électronique à la faculté des sciences tunis, spécialité systèmes embarqués.<br>
        Mais je suis également passionné par le
domaine de développement web <br>et mobile et ce site montre ca.<br>
Je suis en recherche d'un stage PFE gue j'espère le faire das le domaine <br>de developpement web.</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3DAE5LItU5fcShk0laYHQJ-xDXEik9yW_WQ&usqp=CAU" alt="alternatetext">
      <br><br><br><a href="{% url 'polls:index'%}" class="button">retour à l'accueil</a>




  </div>

</ul>
